.blackWeight {
    font-weight: 900;
}

.extraBoldWeight {
    font-weight: 800;
}

.boldWeight {
    font-weight: bold;
}

.semiBoldWeight {
    font-weight: 600;
}

.mediumWeight {
    font-weight: 500;
}

.superLargeFont {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.1px;
}

.largeTitle1Font {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -1px;
}

.largeTitle2Font {
    font-size: 28px;
    line-height: 1.36;
    letter-spacing: -0.5px;
}

.largeTitle3Font {
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: -0.5px;
}

.headline1Font {
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.5px;
}

.headline2Font {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.25px;
}

.titleFont {
    font-size: 17px;
    line-height: 1.41;
    letter-spacing: -0.5px;
}

.bodyFont {
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: -0.2px;
}

.footnoteFont {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0;
}

.captionFont {
    letter-spacing: 0.2px;
    font-size: 11px;
    line-height: 1.28;
}
