.appDark {
    --primaryMainA: 255, 255, 255;
    --primaryMainB: 18, 18, 18;
    --primaryMoni: 108, 65, 235;
    --uiBorder: 56, 56, 56;
    --uiPlaceG: 49, 47, 58;
    --uiPlaceM: 12, 12, 13;
    --uiHover: 86, 81, 102;
    --uiNegative: 235, 78, 61;
    --uiPositive: 99, 202, 86;
    --uiWarning: 241, 154, 55;
    --additionalPrimary: 226, 225, 230;
    --additionalSecondary: 166, 166, 171;
    --additionalOptional: 123, 123, 123;
    --backgroundPrimary: 22, 22, 22;
    --backgroundSecondary: 12, 12, 12;
}
